<h1>Types of Food</h1>

<div class="food-types">
<% @types.each do |type| %>

  <div>
    <div class="food-type" data-food-type-id="<%= type.id %>"><%= type.name %></div>
    <div class="items">When I click on a food type - food items will appear</div>
    <%= link_to 'Edit', edit_type_path(type) %>
    <%= link_to 'Delete', type, method: :delete %>
  </div>

<% end %>

</div>
<%= link_to 'new type of food', new_type_path %>